<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-MRVD0334R5"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-MRVD0334R5');
    </script>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Ищем близких</title>
    <!--<link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- <script defer type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script> -->
    <style>
        *, *:after, *:before {
            box-sizing: inherit
        }


        body {
            color: #000000;
            font-family: 'Helvetica', 'Arial', sans-serif;
            font-size: 1em;
            font-weight: 300;
            line-height: 1.6
        }

        hr {
            border: 0;
            border-top: 0.1rem solid #989898;
            margin: 0.0rem 0
        }

        @media (min-width: 40rem) {
            .row {
                flex-direction: row;
                margin-left: -1.0rem;
                width: calc(100% + 2.0rem)
            }

            .row .column {
                margin-bottom: inherit;
                padding: 0 1.0rem
            }
        }

        select {
            width: auto;
        }

        @media (min-width: 40.0rem) {
            /* Small devices (landscape phones, 576px and up) */
            header section {
                flex-direction: row;
            }

            header nav ul {
                margin: 1rem;
            }
        }
    </style>
</head>
<body>
<nav>
    <div class="nav-wrapper light-blue">
        <a href="#" class="brand-logo center" style="font-size:1.5rem" >Ищем близких</a>
    </div>
</nav>


<main role="main" class="container">
    <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
    <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
    <%= @inner_content %>
</main>
<footer class="page-footer white">
    <div class="container">
        <div class="row">
            <div class="col s12 m4 l2"></div>
            <div class="col s12 m4 l8">
                <p class="black-text text-lighten-4"><b>Последнее обновление в <%=" #{Timex.now("Europe/Minsk") |> Timex.format!("%H:%M:%S", :strftime)} " %></b></p>
                <p class="black-text text-lighten-4">Информация собрана волонтёрами канала <a href="https://t.me/spiski_okrestina" target="_blank" >@spiski_okrestina</a> из всех доступных источников.  </p>
                <p class="black-text text-lighten-4"><%= "В базе информация о #{@db_size} задержаниях с 01.10.2020" %>  </p>
            </div>
            <div class="col s12 m4 l2"></div>
        </div>
    </div>
</footer>
</body>
</html>
